.history-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  max-width: 1200px;
}

.history-preview {
  background-color: white;
  color: rgb(8, 66, 88);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
 
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  opacity: 84%;
  margin-top: 2px;
  height: 47px;
  font-weight: bold;
}

.history-preview:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.quiz-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px auto;
  height: auto;
  margin-top: .1vh;
  max-width: 555px;
  
}

@media (max-width: 768px) {
  .quiz-details {
    margin-top: 10px;
  }
}

.quiz-details h2,
.quiz-details p,
.quiz-details button {
  margin: 10px 0;
  padding: 5px 10px;
  text-align: center;
}

.answer-button,
.wrong {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.answer-button {
  background-color: rgb(198 216 198);
}

.wrong {
  opacity: 20%;
}

button {
  cursor: pointer;
  background-color: #042427a1;;
  color: white;
  border: none;
  border-radius: 5px;
}

