@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

/* Custom font class */
.custom-font {
  font-family: 'GFS Didot', serif;
}

/* Updated font size for .text-xs */
.text-xs {
  font-size: 1rem;
  line-height: 1rem;
 
}


/* General styles for the navbar */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #042427; 
  color: white;
  padding: 6px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}



.link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
  text-decoration: none;
  color: inherit; 
}

/* Styles for the active link */
.active {
  background-color: gray;
  border-radius: 50%;
  padding: 8px;
  width: 60px;
  height: 60px;
  margin-bottom: -11px;
  transform: translateY(-24px);
}



/* NavBar container */
.navbar-container {
  position: fixed;
  bottom: 12%;
  width: 94%;
  max-width: 483px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #042427; 
  padding: 4px 0; 
  border-radius: 25px; 
  height: 52px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(128, 128, 128, 0.5); 
}


/* Style for the navigation menu */
.nav {
  display: flex;
}

/* Style for the "Neuro Lingua" text */
.navbar-text {
  color: white; 
  font-family: 'GFS Didot', serif; 
  z-index: 1; /* Ensures it appears above other elements */
  font-size: 0.88rem; 
  padding: 0 10px; 
  margin: 0 10px; 
}




/* NavBar item */
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-left: 21px; 
  margin-right: 15px; 
  margin-top: 8px;
}



/* Adjust for small screens */
@media (max-width: 999px) {
  .nav-item {
      margin-left: 19px;
      margin-right: 5px;
      margin-top: 10px;
  }
}


/* Bubble */
.bubble {
  width: 24px; 
  height: 24px; 
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; 
  margin-bottom: 4px; 
}

/* Icon */
.menu-icon {
  font-size: 16px; 
  color: white; 
}

/* Menu name */
.menu-name {
  font-family: 'GFS Didot', serif;
  color: white;
  font-size: 12px;
  text-align: center;
  margin-top: 5px; 
}


/* Left bubble */
.bubble-left {
  position: absolute;
  left: 10%; 
  top: 60%; 
  transform: translateY(-50%);
}

/* Right bubble */
.bubble-right {
  position: absolute;
  right: 10%; 
  top: 60%; 
  transform: translateY(-50%);
}




  
  
  
  
  
  
  
  
  
  
  
  
  