/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {


  /* background-image: url('../src/assets/logo2.png'); */
  background-size: cover; /* Adjusts the size to 50% of its original size */
  background-repeat: no-repeat;
  /* Other background properties */
}

.video-background {

  max-width: none;

}