@tailwind base;
@tailwind components;
@tailwind utilities;



.video-background {

  max-width: none;

}

 

.overlay-image {
  position: fixed;
  top: 69vh; /* Adjusted to be relative to the viewport height */
  right: 24vw; 
}



.h-screen {
  height: 89vh;
}

